<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ladstech.cloudgalleryapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyAmplifyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CloudGalleryApp"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.Add_new_post_f"></activity>

        <activity android:name=".activities.EditProfileActivity" />
        <activity android:name=".activities.ProfileDetailsWatchActivity" />
        <activity android:name="ir.shahabazimi.instagrampicker.gallery.SelectActivity" />
        <activity android:name="ir.shahabazimi.instagrampicker.filter.FilterActivity" />
        <activity android:name="ir.shahabazimi.instagrampicker.gallery.MultiSelectActivity" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activities.BlockedUserActivity" />
        <activity
            android:name=".activities.PostDetailActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale" />
        <activity android:name=".activities.HomeActivity" />
        <activity android:name=".activities.AddPostActivity" />
        <activity android:name=".activities.GalleryAppHome" />
        <activity android:name=".activities.TestActivity" />
        <activity android:name=".activities.SignUpActivity" />
        <activity android:name=".activities.MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".activities.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.CloudGalleryApp.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".utils.NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>